name: CI
on:
  push:
    paths:
      - '**/*.py'  
      - 'pysignal/**' 
      - 'tests/**' 
      
  pull_request:
    paths:
      - '**/*.py' 
      - 'pysignal/**'   
      - 'tests/**'   
jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13"]
        poetry-version: ["latest"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install dependencies
        run: poetry install
      - name: Test with pytest
        run: |
          poetry run pytest
